main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

// COLOR PALETTE

$primary: #1fad95;
$lightBackground: #f5f5f5;
$blank: #ffffff;
$genericText: #171520;
$infoText: #6c6c6b;
$mainBackground: #e5e5e5;
$footerBackground: #171621;

// TESTING

$testBorder: 2px solid blue;